<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student management</title>
</head>
<body>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Delete</th>
        <th>update</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="student : ${students}">
        <td th:text="${student.name}">Student 1</td>
        <td th:text="${student.age}">29</td>
        <td th:text="${student.phone}">1234567789</td>
        <td th:text="${student.gender}">M</td>
        <td>
          <form th:action="@{'/student/delete/' + ${student.uuid}}">
            <input type="submit" value="X">
          </form>
        </td>
        <td>
          <form th:action="@{'/student/update/' + ${student.uuid}}">
            <input type="submit" value="X">
          </form>
        </td>
      </tr>
    </tbody>
  </table>

  <a href="/student/register">Register new student</a>

</body>
</html>